@import url(https://fonts.googleapis.com/css?family=Bungee);
body{
    background:#2a2b2d;
}
.title{
    color:white;
    text-align:center;
    font-family:Bungee;
    font-size:2.0em;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
.x{
    font-size:1.5em;
    margin-top:0.25%;
}
.butt{
    text-align:center;
    font-family:Bungee;
    margin-top:0.5%;
}
#z{
    font-size:1.0em
}

